
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 20px;

background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('gym-1040977_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: #e0e0e0;


}

.container {
    max-width: 600px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

h1, h3 {
    color: #ff5722;
    margin-bottom: 15px;
}

.link-voltar {
    color: #bbb;
    text-decoration: none;
    margin-top: 5px;
}

.link-voltar:hover { color: #fff; }

.card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #fff;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media(min-width: 400px) {
    .form-grid { grid-template-columns: 1fr 1fr; }
}

.btn {
    background-color: #ff5722;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}

.btn:hover { background-color: #e64a19; }

.btn-secondary { background-color: #555; }
.btn-secondary:hover { background-color: #444; }

.btn-success { background-color: #4caf50; font-weight: bold; font-size: 18px; padding: 15px;}
.btn-success:hover { background-color: #388e3c; }

.btn-danger { background-color: #f44336; width: auto; padding: 8px 12px; font-size: 14px;}
.btn-edit { background-color: #2196f3; width: auto; padding: 8px 12px; font-size: 14px; color: white; border: none; border-radius: 5px; cursor: pointer;}

.exercicios-list { list-style: none; }
.exercicios-list li {
    background-color: #2c2c2c;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #ff5722;
}


.toast {
    visibility: hidden; 
    min-width: 250px;
    background-color: #4caf50; 
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed; 
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%); 
    bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.4s, bottom 0.4s;
}


.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 40px; 
    }